.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
}

.panel {
  border: 1px solid #000;
  width: 80%;
}
.title {
  margin: 0;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
}
p.message {
  color: #aaa;
}
p.vip {
  color: red;
}

.PanelHide{
  display:none;
}